body, html {
  height: 100%;
  margin: 0;
}

.lists {
  margin: 50px 0;
  color: white;
}

.lists:first-child {
  margin-top: 50px;
  border-top: 0;
}

.lists h2 {
    font-size: 25px;
  padding-left: 70px;
  margin-bottom: 10px;
  border-top: 1.25px rgba(66, 66, 139, 0.507) dashed;
  padding-top: 30px;
}

.menu-item {
  padding: 0px;
  margin: 2px 2px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper:hover {
  border: 1px rgba(10, 10, 117, 0.582) solid;
}

.movie-card {
  position: relative;
  width: 300px;
  height: 170px;
  transition: all 0.7s;
  background: #172c48;;
}

.movieImg {
  width: 300px;
  height: 170px;
  vertical-align: 0px;
  transition: all 0.7s;
  user-select: none;
} 

.movie-title {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  white-space: initial;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.movie-card:hover {
  width: 330px;
  height: 190px;
}

.movie-card:hover .movie-title {
  visibility: visible;
  opacity: 1;
}

.movie-card:hover img {
  width: 330px;
  height: 190px;
  vertical-align: -12px;
  opacity: 0.3;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.horizontal-menu {
  height: 220px;
}

.arrow-prev,
.arrow-next {
  color: #5d6775;
  font-size: 40px;
}

.arrow-prev:hover,
.arrow-next:hover {
  color: #578b84;
  font-size: 45px;
}

.arrow-prev:active,
.arrow-next:active {
  color: #43b8a8;
  font-size: 45px;
}

/* Movie Info */
.content {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  min-height: 410px;
  font-size: 18px;
  color: #e6e6e6;
  font-weight: 500;
}

.content h1 {
  text-align: center;
  margin: 30px;
  margin-top: 10px;
}

.content p {
  line-height: 19px;
}

.video {
  padding-top: 56.25%;
  position: relative;
  -webkit-box-shadow: 0 0 30px grey;
  box-shadow: 0 0 30px grey;
}

iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overview-container {
  margin-top: 10px;
}

.year-run-vote span {
  font-size: 14px;
  padding-right: 6px;
}

.run,
.vote {
  border-left: 1px solid white;
  padding-left: 6px;
}

.greyed {
  color: #9c9c9c;
}

i {
  color: gold;
}

.back-height {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#movieInfoContainer {
  margin-top: 20px;
}

@media (min-width:600px){
  #movieInfoContainer {
    margin: auto;
    width: 80%;
  }
}

@media (max-width:600px){
  #movieInfoContainer {
    /* margin-left: 40px; */
    width: 85%;
  }

  .content {
    width: 90%;
    font-size: 93%;
  }

  .content h1 {
    margin: 30px 0;
  }
}