#headerTitle {
  margin-top: 10px;
  margin-left: 9px;
}

h2 a {
  color: #62b1a6; 
  font-size: 32px;
  letter-spacing: 5px;
}

h2 a:hover {
  text-decoration: none;
  color: aquamarine;
}

#headerTag {
  color: #62b1a6; 
  font-size: 16px;
  letter-spacing: 2px;
}

.header-area {
  margin-top: 30px;
}