#navbar {
  margin-bottom: -30px;
}

@media (min-width:600px){
  #navbar {
    text-align: right;
    margin-right: 55px;
  }
}

@media (max-width:600px){
  #navbar {
    text-align: left;
    margin-left: 0px;
  }
}

#navbar ul {
  white-space: nowrap;
  padding-left: 0px;
  margin-left: 0px;
}

.navbar-menu a span {
  color: white;
}

.navbar-menu li a {
  color: black;
  background-color: #1f324c;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 1px 0;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 9px 12px 2px 0px;
}

.navbar-menu li a:hover {
  color: #578b84; 
  text-decoration: none;
}

.navbar-menu li a:active {
  color: #1f324c;
}

.navbar-menu .iconImage {
  background-color: #1f324c;
  font-size: 12px; 
  padding: 9px 12px 2px 0px;
  color: black;
}

.navbar-menu .iconImage:hover {
  text-decoration: none;
  background-color: #578b84; 
  color: black;
}

.iconImage img {
  width: 40px;
  height: 40px;
}

#horizontal-list {
	list-style: none;
	padding-top: 10px;
}

#horizontal-list li {
  display: inline-block;
}